.skills__container {
  row-gap: 3.5rem;
}

.skills__content {
  display: grid;
  background-color: var(--container-color);
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}

/*.skills__title {*/
/*  font-size: var(--normal-font-size);*/
/*  font-weight: var(--font-medium);*/
/*  text-align: center;*/
/*  margin-bottom: var(--mb-1-5);*/
/*}*/

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills__group {
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1.5rem;
  column-gap: 7rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.skill__circle {
  width: 16px;
  height: 16px;
  margin-top: var(--mb-0-5);
}

.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

/*.skills__level {*/
/*  font-size: var(--tiny-font-size);*/
/*}*/

.skills__rating {
  display: flex;
}

.skills__rating svg {
  width: 16px;
  height: 16px;
}

.skills__items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.skills__skill-item {
  background-color: var(--container-color);
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  width: max-content;
  display: flex;
}

@media screen and (max-width: 992px) {
  .skills__group {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .skills__group {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 3.5rem;
  }
}

@media screen and (max-width: 576px) {
  .skills__container {
    row-gap: 2rem;
  }

  .skills__content {
    padding: 1.5rem;
  }

  .skills__group {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
    column-gap: 2rem;
  }

  .skills__skill-item {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .skills__container {
    row-gap: 1.5rem;
  }

  .skills__box {
    column-gap: 1.25rem;
  }

  .skills__name,
  .skills__skill-item {
    font-size: var(--small-font-size);
  }

  .skills__skill-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
}
